body {
    background-image: url('../images/backgrounds/ocean.png');
    background-color: white;
    font-family: Arial;
    font-size: 12px;
}

h1 {
    font-size: 18px;
    padding:0px;
    margin: 0px;
    font-weight: 100;
}

p, a {
    font-size: 12px;
}

p {
    line-height: 160%;
}

h2, h3 {
    text-decoration: none;
    font-style: normal;
}

.center {
    width:850px;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
}

#content {
    height:460px;
    color:white;
    margin-top: 15px;
    margin-bottom: 15px;
}

#content .left {
   vertical-align: top;
   background: white;
   height:460px;
}

#content .left .logo {
    padding-top:30px;
    padding-left:60px;
    width:130px; 
}

#content .right {
   background-image: url('../images/backgrounds/content_right.png');
   background: #FF7E00;
   height:460px;
}

#content .right div {
   padding-left:50px;
   padding-top:40px;
   padding-right: 70px;
}

#footer {
    height:110px;
}

#footer .left {
   background-color: rgba(256, 256, 256, 0.24);
   background-size:100%;
   background-repeat:no-repeat;
   height:110px;
}

#footer .left ul {
   color: white;
   margin:0px;
   list-style: none;
   padding: 5px;
   padding-top: 10px;
}

#footer .left ul li {
    padding: 5px;
}

#footer .left ul li a {
   font-size: 10pt;
   color: white;
}

#footer .right {
    background:white;
    height:110px;
    color: #1d2e48;
}

#footer .right div {
    padding-top: 13px;
    padding-left: 40px;
}

#footer .right div div {
    float: left;
    padding: 0px;
    padding-right:20px;
}

#footer .right div div img.logo {
    width: 80px;
    float: left;
}

#footer .right div div span {
    float: left;
    padding: 10px;
    padding-top: 15px;
}

#footer .right div div span a {
    padding-top: 10px;
    display: block;
    text-decoration: none;
    color: #218bb9;
}

.left {
    width:250px;
    float: left;
    border-bottom-left-radius:11px;
    border-top-left-radius:11px;
}

.right {
    width:600px;
    float: left;
    border-bottom-right-radius:11px;
    border-top-right-radius:11px;
}

.shadow {
    -moz-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2); 
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    /* For IE 8 */
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=200, Color='#000000')";*/
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=150, Color='#000000');
}

.rounded {
    border-radius:11px;
}
